body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.ecg {
  z-index: 0;
}

.container {
  position: relative;
  width: 800px;
  height: 200px;
  border: 2px solid black;
  z-index: 1;
}

.line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: black;
  transform: translateY(-50%);
}

.predefined-location {
  position: absolute;
  width: 5px;
  height: 5px;
  background: blue;
  border-radius: 50%;
  top: -4px;
  cursor: pointer;
}

.predefined-location:nth-child(1) { left: 10.5%; }
.predefined-location:nth-child(2) { left: 18%; }
.predefined-location:nth-child(3) { left: 25%; }
.predefined-location:nth-child(4) { left: 34%; }
.predefined-location:nth-child(5) { left: 44%; }
.predefined-location:nth-child(6) { left: 50%; }
.predefined-location:nth-child(7) { left: 55%; }
.predefined-location:nth-child(8) { left: 75%; }
.predefined-location:nth-child(9) { left: 85%; }
.predefined-location:nth-child(10) { left: 95%; }

#marker {
  position: absolute;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  cursor: grab;
  top: -30%;
  left: 50%;
  transform: translate(-50%, 90%);
}

#hover-line {
  position: absolute;
  width: 2px;
  height: 200px;
  background: gray;
  display: none;
  pointer-events: none;
  z-index: 3;
}
